@font-face {
	font-family: Aller;
	src: url(aller.regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
}

 html, html a {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

* {
	-webkit-font-smoothing: antialiased !important;
	border-radius: 0 !important;
	text-decoration: none;
}

body {
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}