/*
	* Author: Relaxtudio
	* Description: Anugerah Motor web style
*/

@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
}

 html, html a {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

* {
	-webkit-font-smoothing: antialiased !important;
	border-radius: 0 !important;
	text-decoration: none !important;
}

body {
	width: 100%;
}

/*-----NAVBAR-----*/

.navbar-default {
	background-color: #FFF;
	border: none;
}

.navbar-brand {
	margin-left: 5px !important;
}

.navbar-brand img{
	width: 130px;
	margin-top: -18px;
}

#logo2 img {
	width: 120px;
}

.navbar-nav > li > a {
	color: #797D7F !important;
}

.navbar-nav > li > a:hover {
	color: #fff !important;
	background-color: #5DADE2 !important;
}

.navbar-right {
	margin-right: 0px !important;
}

/*-----HOME SECTION-----*/
.home-content {
	margin-top:52px;
}

#cari-m {
	background-color: #d71631;
	color: #e8e8e8 !important;
}

#promo {
	margin: auto;
	background-color: transparent;
}

.carousel-indicators {
	color: #e6e6e6;
}

.carousel-inner > .item > img {
 	margin: auto;
 	height: 555px;
 	width: 100%;
 	background-color: transparent !important;
 }

.banner-profits {
 	background-color: #e6e6e6;
 	width: 100%;
 	display: inline-block;
 	margin-top: 10px;
 }

.profit-det > i {
	font-size: 2.5em;
}

.profit-det {
 	font-size: 1.2em;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	text-align: center;
 	font-weight: 700;
 	color: #797D7F;
 }

 .recent-cars {
 	margin-top: 85px;

 }

 .rc-title {
 	text-align: center;
 }

.rc-title p {
	font-size: 2.5em;
	color: #797D7F;
}

.rc-title span {
	font-size: 1.3em;
	color: #CACFD2;
}

.rc-list {
	margin-top: 75px;
}

.rc-prod {
	width: 100%;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(191, 191, 191, 0.5), 0 6px 20px 0 rgba(191, 191, 191, 0.5);
	color: #666666;
}

.rc-prod img {
	width: 100%;
	padding: 0px;
	margin: auto !important;
}

.cars-det {
	display:block;
}

.rc-nama {
	font-size: 1.3em;
	text-align: center;
	padding-top: 5px;
}

.rc-info, .rc-loc {
	text-align: center;
	font-size: 0.9em;
	padding-top: 5px;
	padding-bottom: 5px;
}

#btn-cars {
	text-align: center;
}

#all-c-btn {
	border-color: transparent;
}

#all-c-btn:hover {
	box-shadow: 0 4px 8px 0 rgba(166, 89, 89, 0.5), 0 6px 20px 0 rgba(166, 89, 89, 0.45);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*-----CARS SECTION-----*/
.cars-content {
	margin-top: 52px;
	color: #666666;
}

.c-head{
	width: 100%;
	border-bottom: 1px solid #cccccc;
	background-color: #e6e6e6;
	padding: 8px;
	overflow: hidden;
	color: #666666;
}

#c-total {
	margin-top: 5px;
}

#sort-dt {
	float: right;
	clear: both;
	margin-top: 10px;
	margin-right: -10px;
	display: inline-block;
}

#sorting-lbl {
	margin-top: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#cars-wrap {
	margin-top: 10px;
	display: inline-block;
}

.brand-c, .tahun-c, .tipe-c {
	width: 100%;
	display: inline-block;
}


/*-----CONTACT & SHOWROOM SECTION-----*/
.contact {
	margin-top: 52px;
	color: #666666;
	width: 100%;
}

#all-loc {
	margin-top: 25px;
}

.list-lk {
	width: 100%;
	overflow: hidden;
	clear: both;
	margin-top: 50px;
}

.kshow {
	float: left;
	width: 50%;
	padding-left: 13%;
	margin-top: 10px;
}

#map {
    height: 575px !important;
}

/*-----SIMULASI KREDIT SECTION-----*/
.simkred {
	margin-top: 52px;
}

/*-----MOBILE SCREEN-----*/
@media screen and (max-width: 478px){
	/*
	.navbar-toggle {
		margin-right: 41%;
	}
	
	.navbar-brand {
		margin-left: 15px;
		margin-top: 2px;
	}

	#logo2 {
		float: right;
		display: inline-block;
		position: relative;
		margin-top: -50px;
		margin-right: 20px;
	}
	*/
	.home-content {
		margin-top: 65px;
	}

	.carousel-inner > .item > img {
	 	margin: auto;
	 	height: 150px;
	 	width: 100%;
	 	background-position: center;
 	}

 	.profit-det {
 		font-size: 0.91em;
 	}

 	#contact > .row {
 		margin-left: 0;
 		margin-right: 0;
 	}

 	#map {
 		max-height: 300px;
 	}

 	.list-lk {
 		height: auto;
		width: 100%;
		overflow: show;
	}

 	.kshow {
		float: unset;
		width: 100%;
		padding-left: 10px;
	}
	#sort-dt {
		float: none;
		width: 100%;
		margin-left: 12px;
		margin-top: 0; 
	}
}

@media screen and (max-width: 320px){
	.navbar-brand img {
		width: 105px;
		margin-top: -17px;
	}

	#logo2 img {
		width: 100px;
	}

	.list-lk {
 		height: auto !important;
		width: 100%;
		overflow: show;
	}

 	.kshow {
		float: unset !important;
		width: 100%;
		padding-left: 0;
	}

	.kshow h4 {
		font-size: 1.2em;
	}
}

/*-------ANIMATION-------*/
[ui-view].ng-enter, [ui-view].ng-leave {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
[ui-view].ng-enter {
	opacity: 0;
}
[ui-view].ng-enter.ng-enter-active {
	opacity: 1;
}
[ui-view].ng-leave {
	opacity: 1;
}
[ui-view].ng-leave.ng-leave-active {
	opacity: 0;
}

/*-----FOOTER SECTION-----*/
.footer {
	background-color: #f2f2f2;
	display: block;
	text-align: center;
	border-top: 1px solid #cccccc;
	margin-top: 50px;
}

.f-wrap {
	margin-top: 15px;
	margin-bottom: 15px;
}

#fb-btn {
	width: 40px;
	height:40px;
	border-radius: 50% !important;
	font-size: 1.3em;
	margin-right: 10px;
}

#ig-btn {
	width: 43px;
	height:43px;
	border-radius: 50% !important;
	font-size: 1.4em;
	margin-left: 10px;	
}

#f-menu {
	margin-bottom: 15px;
}

#f-menu > a {
	text-decoration: none !important;
	margin-left: 10px;
	margin-right: 10px;
	color: #666666;
}

#f-menu > a:hover {
	color: #000;
}