<section class="about">
	<div id="ab-title">
		<h3 align="center"><b>Tentang Anugerah Motor</b></h3>
	</div>
	<br>
	<div class="ab-logo">
		<img src="assets/img/logo1.png">
		&nbsp;
		<img src="assets/img/logo2.png">
		<div style="width:280px; border-bottom: 3px solid #c6c6c6; margin: auto;"></div>
	</div>
	
	<timeline align="justify">
		<br>
	    <timeline-event>
	      <timeline-badge class="info">
	        <i class="fa fa-building-o"></i>
	      </timeline-badge>
	      <timeline-panel class="info">
	        <timeline-heading>
	          <legend>Sejarah Perusahaan</legend>
	        </timeline-heading>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.</p>
	      </timeline-panel>
	    </timeline-event>

	    <timeline-event class="timeline-inverted">
	      <timeline-badge class="primary">
	        <i class="fa fa-users"></i>
	      </timeline-badge>
	      <timeline-panel class="primary">
	        <timeline-heading>
	          <legend>Visi & Misi</legend>
	        </timeline-heading>
	        <h4><b>Visi : </b></h4>
	        <p>Lorem ipsum dolor sit amet</p>
	        <h4><b>Misi :</b></h4>
	        <p>Lorem Ipsum dolor sit amet</p>
	      </timeline-panel>
	    </timeline-event>

	    <timeline-event>
	      <timeline-badge class="primary">
	        <i class="fa fa-users"></i>
	      </timeline-badge>
	      <timeline-panel class="primary">
	        <timeline-heading>
	          <legend>Pelayanan yang Diberikan</legend>
	        </timeline-heading>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</p>
	      </timeline-panel>
	    </timeline-event>

	    <timeline-event class="timeline-inverted">
	      <timeline-badge class="success">
	        <i class="fa fa-trophy"></i>
	      </timeline-badge>
	      <timeline-panel class="success">
	        <timeline-heading>
	          <legend>Penghargaan & Prestasi</legend>
	        </timeline-heading>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</p>
	      </timeline-panel>
	    </timeline-event>
  	</timeline>
</section>