<div class="promo">

  <!-- Don't wrap targets in parent -->
  <s ng-repeat="slide in slides" id="s{{slide.id}}"></s> 

  <div class="pr-slider">
    <div ng-repeat="slide in slides">
      <img ng-src="/assets/img/{{slide.img}}">
    </div>
  </div>
  
  <div class="prevNext">
    <div ng-repeat="slide in slides" >
      <a href="#s{{slide.id}}">❮</a>
      <a href="#s{{slide.id}}">❯</a>
    </div>
  </div>

  <div class="bullets">
    <a ng-repeat="slide in slides" href="#s{{slide.id}}"></a>
  </div>

</div>

<br>

<button ng-click="cl($index)">test</button>
<div class="menu-list">
  <div></div>
</div>
<div class="car-list">
  <div></div>
</div>