  <section class="home-content">
        <div id="promo" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li ng-repeat="i in slides" style="border-radius: 50% !important;" data-slide-to="{{i.id}}" ng-class="{active: ($index == 0)}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div ng-repeat="slide in slides" ng-class="$index == 0 ? 'item active' : 'item'" id="{{slide.id}}">
              <img ng-src="assets/promo/{{slide.img}}" alt="Mobil 1">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#promo" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#promo" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      <div class="banner-profits">
          <!-- <div id="logo1" class="col-md-2">
            <img src="/assets/img/logo1.png" class="img-responsive">
          </div> -->
          <div id="slogan" class="col-md-12">
            <p align="center">PUSAT MOBIL BEKAS BERKUALITAS DAN BERGARANSI</p>
          </div>
          <!-- <div class="col-md-2" id="logo2">
            <img src="/assets/img/logo2.png" class="img-responsive">
          </div> -->
      </div>

      <div class="brands-lg">
        <div ng-repeat="brand in brand | orderBy: 'name'" class="col-md-2 col-xs-4">
          <img ng-src="assets/car-brands/{{brand.name}}.png" class="img-responsive">
        </div>
      </div>
      </div>
      <div class="recent-cars">
        <div class="rc-title">
          <p><b>STOK MOBIL TERBARU</b></p><span>-Our Recent Cars-</span>
        </div>
        <div class="rc-list owl-carousel owl-theme">
          <div class="list-cars col-md-12" ng-repeat="car in car">
            <a ng-href="#!/cardetail/{{car.id}}" ng-click="scrollToTop()">
              <div class="panel panel-default">
                <div class="rc-prod">
                  <img ng-src="assets/cars/{{car.dir_img}}/preview.jpg">
                  <div class="cars-det">
                    <div class="rc-nama">
                      <legend>{{car.brand}} {{car.name}}</legend>
                    </div>
                    <div class="rc-info row">
                      <div class="col-md-6">
                        <i class="fa fa-calendar"></i> Tahun {{car.tahun}}
                      </div>
                      <div class="col-md-6">
                        <i class="fa fa-road"></i> Km {{car.km}}
                      </div>
                    </div>
                    <div class="rc-loc">
                      <i class="fa fa-map-marker"></i> {{car.showroom}}
                    </div>
                    <div class="rc-price">
                        <i class="fa fa-tag"></i> Rp {{car.harga | number}},-
                      </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <br>
        <div id="btn-cars">
          <a href="#!/car" ng-click="scrollToTop()" id="all-c-btn" class="btn btn-info btn-lg">
            LIHAT SEMUA MOBIL
          </a>
        </div>
      </div>
  </section>