<section class="cars-content">
	<div class="c-head">
		<div id="bt-fil" class="col-md-4 col-xs-6">
			<form role="search">
	          <div class="search-container" style="padding: 0">
	            <input type="text" id="s-mobil" class="form-control" placeholder="Cari mobil" ng-model="filter.search" ng-enter="search()">
	            <button id="s-btn" type="submit" class="btn btn-default" data-toggle="collapse" data-target="#search.in" ng-click="search()">
	              <i class="fa fa-search" style="font-size: 1.25em;"></i>
	            </button>
	          </div>
	        </form>
		</div>
		<div id="c-total" class="col-xs-6 col-md-8">
			<div ng-show="status.showroom">{{status.showroom}}</div>
			<div class="pull-right">
				Total : <b> {{carTotal.total | number}} </b> Mobil
			</div>
		</div>
	</div>
	<!--<div id="sort-dt">
		<div class="form-inline">
			<div class="form-group">
				<div class="col-xs-5">
					<label id="sorting-lbl" class="control-label" for="sorting"><i class="fa fa-sort"></i> Urutkan</label>
				</div>
				<div class="col-xs-7">
					<select class="form-control" id="sorting">
						<option>---Pilih---</option>
						<option>Terbaru</option>
						<option>Termahal</option>
						<option>Termurah</option>
					</select>
				</div>
			</div>
		</div>
	</div>-->

	<div id="cars-wrap">
		<div  ng-repeat="car in car" class="col-md-3 col-sm-6">
			<a ng-href="#!/cardetail/{{car.id}}">
				<div class="panel panel-default">
					<div class="rc-prod">
						<div ng-show="car.status == 'SOLD OUT'" class="sold-out">
							<img src="assets/img/sold-out.png" style="position: absolute; width: 50%;">
						</div>
	                  <img ng-src="assets/cars/{{car.dir_img}}/preview.jpg">
	                  <div class="cars-det">
	                    <div class="rc-nama">
	                      <legend>{{car.brand}} {{car.name}}</legend>
	                    </div>
	                    <div class="rc-info row">
	                      <div class="col-md-6">
	                        <i class="fa fa-calendar"></i> Tahun {{car.tahun}}
	                      </div>
	                      <div class="col-md-6">
	                        <i class="fa fa-road"></i> Km {{car.km}}
	                      </div>
	                    </div>
	                    <div class="rc-loc">
	                      <i class="fa fa-map-marker"></i> {{car.showroom}}
	                    </div>
	                    <div class="rc-price">
	                    	<i class="fa fa-tag"></i> Rp {{car.harga | number}},-
	                    </div>
	                  </div>
	                </div>
				</div>
			</a>
		</div>
	</div>
	<div class="clearfix">
		<div ng-show="status.contentLoading">Loading</div>
		<button ng-show="filter.currentPage < filter.maxpage" ng-click="showMore()" class="btn btn-info btn-lg">Show More</button>
	</div>

</section>
<div class="fullscreen" ng-show="loading">
  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>