<section class="cars-content">
	<div class="c-head">
		<div id="bt-fil" class="col-md-9 col-xs-6">
			<a class="btn btn-default" id="filter" data-toggle="modal" data-target="#filter-modal">
				<i class="fa fa-filter"></i> Filter
			</a>
		</div>
		<div id="c-total" class="col-xs-6 col-md-3">
			<div class="pull-right">
				Total : <b>1234</b> Mobil
			</div>
		</div>
	</div>
	<div id="sort-dt">
		<div class="form-inline">
			<div class="form-group">
				<div class="col-xs-5">
					<label id="sorting-lbl" class="control-label" for="sorting"><i class="fa fa-sort"></i> Urutkan</label>
				</div>
				<div class="col-xs-7">
					<select class="form-control" id="sorting">
						<option>---Pilih---</option>
						<option>Terbaru</option>
						<option>Termahal</option>
						<option>Termurah</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div id="cars-wrap">
		<div  ng-repeat="car in car" class="list-cars col-md-3 col-sm-6">
			<a ng-href="#!/cardetail/{{car.id}}">
				<div class="panel panel-default">
					<div class="rc-prod">
						<div ng-show="car.status == 'SOLD OUT'" class="sold-out">
							<img src="assets/img/sold-out.png" style="position: absolute; width: 50%;">
						</div>
	                  <img ng-src="assets/cars/{{car.dir_img}}/preview.jpg">
	                  <div class="cars-det">
	                    <div class="rc-nama">
	                      <legend>{{car.name}}</legend>
	                    </div>
	                    <div class="rc-info">
	                      <div class="col-md-6">
	                        <i class="fa fa-calendar"></i> Tahun {{car.tahun}}
	                      </div>
	                      <div class="col-md-6">
	                        <i class="fa fa-road"></i> Km {{car.km}}
	                      </div>
	                    </div>
	                    <div class="rc-loc">
	                      <i class="fa fa-map-marker"></i> {{car.showroom}}
	                    </div>
	                  </div>
	                </div>
				</div>
			</a>
		</div>
	</div>
	<div class="clearfix"></div>

	<div id="filter-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
	        		<h4 class="modal-title">Filter Daftar Mobil</h4>
				</div>
				<div class="modal-body">
					<div class="brand-c col-md-12">
						<div><b>Brand Mobil</b></div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="all-brand" checked="true">Semua</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="Toyota">Toyota</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="Honda">Honda</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="Honda">Nissan</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="Honda">Ford</label>
							</div>
						</div>
					</div>
					<div class="tahun-c col-md-12">
						<div><b>Tahun</b></div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="all-years" checked="true">Semua</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="2017">2017</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="2016">2016</label>
							</div>
						</div>
					</div>
					<div class="tipe-c col-md-12">
						<div><b>Tipe</b></div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="all-tipe" checked="true">Semua</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="SUV">SUV</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3">
							<div class="checkbox">
								<label><input type="checkbox" value="Sedan">Sedan</label>
							</div>
						</div>
					</div>
					<div class="showroom-c col-md-12">
						<div><b>Lokasi Showroom</b></div>
						<div class="col-xs-6 col-sm-4">
							<div class="checkbox">
								<label><input type="checkbox" value="all-tipe" checked="true">Semua</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="checkbox">
								<label><input type="checkbox" value="dharmawangsa69">Dharmawangsa 69</label>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="checkbox">
								<label><input type="checkbox" value="jenggolo60">Jenggolo 60</label>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-warning" class="close" data-dismiss="modal">Batal</a>
					<a class="btn btn-info" type="submit" href="#">Ok</a>
				</div>
			</div>
		</div>
	</div>
</section>