<section id="contact">

	<div class="lokasi">
		<div id="dh-69">
			<h4>Dharmawangsa 69</h4>
			<a href="https://goo.gl/chjSfG" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Jl+Dharmawangsa+No.+69&zoom=18&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CJl+Dharmawangsa+No.+69" alt="Google Map of Anugerah Motor Jl Dharmawangsa No. 69" class="img-responsive">
			</a>
		</div>
		<div id="kj-158">
			<h4>Kertaja 158</h4>
			<a href="https://goo.gl/2WLbn6" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=anugerah+motor+Jl.+Kertajaya+No.158,+Kertajaya,+Gubeng,+Kota+SBY,+Jawa+Timur+60282,+Indonesia&zoom=20&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:2%7Canugerah+motor+Jl.+Kertajaya+No.158,+Kertajaya,+Gubeng,+Kota+SBY,+Jawa+Timur+60282,+Indonesia" alt="Google Map of Anugerah Motor Jl. Kertajaya No.158, Kertajaya, Gubeng, Kota SBY, Jawa Timur 60282" class="img-responsive">
			</a>
		</div>
		<div id="bj-28">
			<h4>Barata Jaya XIX / 28</h4>
			<a href="https://goo.gl/gEie1j" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=-7.30123239,112.75917991&zoom=19&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:3%7C-7.30123239,112.75917991" alt="Google Map of Anugerah Motor Jl. Barata Jaya XIX No. 28" class="img-responsive">
			</a>
		</div>
		<div id="jg-60">
			<h4>Jenggolo 60</h4>
			<a href="https://goo.gl/KVX8TY" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=-7.4415895,112.7197847&zoom=18&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:4%7C-7.4415895,112.7197847" alt="Google Map of Anugerah Motor Jl. Jenggolo No. 60" class="img-responsive">
			</a>
		</div>
		<div id="nj-33">
			<h4>Ngagel Jaya 33</h4>
			<a href="https://goo.gl/rKCey3" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Jl.+Raya+Ngagel+Jaya+No.33+Pucang+Sewu+Gubeng+Kota+SBY,+Jawa+Timur+60283+Indonesia&zoom=18&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:5%7CJl.+Raya+Ngagel+Jaya+No.33+Pucang+Sewu+Gubeng+Kota+SBY,+Jawa+Timur+60283+Indonesia" alt="Google Map of Anugerah Motor Jl. Ngagel Jaya No.33" class="img-responsive">
			</a>
		</div>
		<div id="kj-97">
			<h4>Kertajaya 97</h4>
			<a href="https://goo.gl/ca5RDf" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Anugerah+Motor,+Jalan+Kertajaya,+Airlangga,+Kota+Surabaya,+Jawa+Timur,+Indonesia&zoom=20&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:6%7CAnugerah+Motor,+Jalan+Kertajaya,+Airlangga,+Kota+Surabaya,+Jawa+Timur,+Indonesia" alt="Google Map of Anugerah Motor Jl. Kertajaya No. 97" class="img-responsive">
			</a>
		</div>
		<div id="dtc-wk">
			<h4>DTC Wonokromo Lt. 6</h4>
			<a href="https://goo.gl/fMhsq8" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Darmo+Trade+Centre+(DTC),+Jl.+Raya+Wonokromo,+Jagir,+Wonokromo,+Kota+SBY,+Jawa+Timur+60244,+Indonesia&zoom=19&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:7%7CDarmo+Trade+Centre+(DTC),+Jl.+Raya+Wonokromo,+Jagir,+Wonokromo,+Kota+SBY,+Jawa+Timur+60244,+Indonesia" alt="Google Map of Anugerah Motor DTC Wonokromo Lt. 6" class="img-responsive">
			</a>
		</div>
		<div id="bg-jt">
			<h4>Anugerah BG Junction</h4>
			<a href="https://goo.gl/ReagV5" class="gmaps">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Anugerah+Motor,+Jalan+Bubutan+I,+Alun-alun+Contong,+Bubutan,+Kota+Surabaya,+Jawa+Timur,+Indonesia&zoom=20&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CAnugerah+Motor,+Jalan+Bubutan+I,+Alun-alun+Contong,+Bubutan,+Kota+Surabaya,+Jawa+Timur,+Indonesia" alt="Google Map of Anugerah Motor Jl. Bubutan I No. 7" class="img-responsive">
			</a>
		</div>
	</div>
</section>