<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize"></script>
<section id="contact">
	
</section> -->
<section class="contact" ng-show="status.load">
	<ng-map id="map" zoom="{{map.zoom}}" center="[{{map.lat}}, {{map.lng}}]" default-style="true">
		<marker id="marker-{{$index}}" ng-repeat="m in map.locations" position="{{m.lat}}, {{m.lng}}" title="{{m.lks}}, {{m.desc}}" animation="DROP">
		</marker>
	</ng-map>
	<br>
	<legend>Daftar Kontak & Showroom Kami <i class="fa fa-arrow-down"></i>
	</legend>
	<div align="center">
		<a id="all-loc" class="btn btn-primary btn-lg" ng-click="loadBigMap(); scrollToTop()">
			<i class="fa fa-map-o"></i> Tampilkan Semua Lokasi
		</a>
	</div>
	<div class="list-lk">
		<div class="kshow col-md-6" ng-repeat="d in locations">
			<h4><i class="fa fa-building-o"></i> {{d.lks}}</h4>
			<span>
				<i class="fa fa-map-marker"></i> {{d.desc}}
			</span><br>
			<span>
				<i class="fa fa-phone"></i> {{d.tlp}}
			</span><br>
			<span>
				<i class="fa fa-map"></i> {{d.kota}}
			</span><br>
			<a id="tomap" class="btn btn-info" ng-click="selectLocation($index, d); scrollToTop()">
				<i class="fa fa-map-o"></i> Tampilkan Map
			</a>
		</div>
	</div>
</section>