<section class="simkred">
	<div id="sim-title">
		<div class="jumbotron" align="center">
			<h1 style="color: #f2f2f2;">Mau Hitung Kredit Mobil?</h1>
			<h2 style="color: #f2f2f2;">Simulasikan Aja</h2>
		</div>
	</div>
<!--
	<div id="cred-partner" align="center">
		<h4><b>Mitra Kredit Kami</b></h4>
			<img src="assets/img/bcaf.png" width="150">&emsp;
			<img src="assets/img/otomobil.png" width="130">
	</div>

	<div id="credit-btn">
		<a data-toggle="collapse" data-target="#simkred-bcaf">
			<legend>
				Simulasi Kredit Dengan <img src="assets/img/bcaf.png" width="130">
				<i class="fa fa-caret-down pull-right"></i>
			</legend>
		</a>
	</div>
-->	
	<div class="calc-wrapper">
		<div class="col-sm-6 col-sm-offset-3">
			<div  id="simkred-bcaf" class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-calculator"></i> <b>Simulasi Kredit</b>
					<span style="float:right;">
						<img src="assets/img/bcaf.png" width="115">
					</span>
				</div>
				<div class="panel-body">
					<form id="form-simkred1" name="simForm" class="form-horizontal" method="POST" ng-submit="submitSim(simForm)">
						<div class="form-group" ng-show="!stats.param">
							<label for="brand_id" class="control-label col-md-4 col-xs-2">Brand</label>
							<div class="col-md-5 col-xs-9 col-xs-offset-1">
								<select id="brand_id" class="form-control" ng-model="brandSelect" ng-change="selectBrand()">
									<option ng-repeat="brand in brand" ng-value="{{brand}}"> {{brand.name}} </option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-show="!stats.param">
							<label for="c_model" class="control-label col-md-4 col-xs-2">Tipe</label>
							<div class="col-md-6 col-xs-9 col-xs-offset-1">
								<select id="c_model" class="form-control" ng-model="car.select" ng-change="selectCar(car.select)">
									<option ng-repeat="carFilter in car.listFilter" ng-value={{carFilter}}> {{carFilter.name}} -  {{carFilter.tahun}} - {{carFilter.warna}} </option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-show="stats.param">
							<label for="c_model" class="control-label col-md-4 col-xs-2">Mobil</label>
							<div class="col-md-5 col-xs-9 col-xs-offset-1">
								<span>{{stats.param.brand}} {{stats.param.name}} - {{stats.param.detail.nopol}} </span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-xs-2" for="c_harga">Harga</label>
							<div class="col-md-6 col-xs-9 col-xs-offset-1">
								<div class="input-group">
									<span class="input-group-addon" style="background-color: transparent; border-bottom: 1px solid #ccc; border-left: 0; border-top: 0; text-align: justify;">Rp  {{sim.param.c_harga | number}} </span>
									<!-- <input type="number" name="c_harga" id="c_harga" class="form-control" ng-model="sim.c_harga" disabled> -->
								</div>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label class="control-label col-md-4 col-xs-2" for="c_dp">DP</label>
							<div class="col-md-3 col-xs-5 col-xs-offset-1">
								<input type="number" name="c_dp" min="30" id="c_dp" class="form-control" ng-model="sim.param.c_dp" required>
								<span class="form-control-feedback">%</span>
							</div>
						</div>
						<!--<div class="form-group">
							<label class="control-label col-md-4 col-xs-2" for="bunga_thn">
								Tenor
							</label>
							<div class="col-md-4 col-xs-6 col-xs-offset-1">
								<select id="bunga_thn" class="form-control" ng-model="sim.param.bunga_thn" required>
									<option value="1">1 Tahun</option>
									<option value="2">2 Tahun</option>
									<option value="3">3 Tahun</option>
									<option value="4">4 Tahun</option>
								</select>
							</div>
						</div>-->
						<div class="form-group">
							<label class="control-label col-md-4 col-xs-2" for="jenis_as">
								Asuransi
							</label>
							<div class="col-md-4 col-xs-7 col-xs-offset-1">
								<select id="jenis_as" class="form-control" ng-model="sim.param.jenis_as" required>
									<option value="allrisk">All Risk</option>
									<option value="kombinasi">Kombinasi</option>
									<option value="tlo">TLO</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-xs-2" for="thn_as">Masa Asuransi</label>
							<div class="col-md-4 col-xs-6 col-xs-offset-1">
								<select id="thn_as" class="form-control" ng-model="sim.param.thn_as" required>
									<option value="1">1 Tahun</option>
									<option value="2">2 Tahun</option>
									<option value="3">3 Tahun</option>
									<option value="4">4 Tahun</option>
									<option value="5">5 Tahun</option>
									<option value="6">6 Tahun</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label"></label>
							<div align="center">
								<button id="calc-btn" class="btn btn-info btn-lg">
									<i class="fa fa-calculator" style="color: #f2f2f2;"></i> Hitung
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="calc-wrapper" ng-show="sim.result">
		<div id="hasil-sim" class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<legend><b>Hasil Simulasi</b></legend>
						<table id="data-mbl" class="table" width="100%">
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Data Mobil</b></h4>
								</td>
							</tr>
							<tr>
								<td width="20%">Mobil</td>
								<td width="3%">:</td>
								<td width="77%">{{car.select.brand}} {{car.select.model}} {{car.select.warna}}</td>
							</tr>
							<tr>
								<td>Tahun</td>
								<td>:</td>
								<td>{{car.select.tahun}}</td>
							</tr>
							<tr>
								<td>Warna</td>
								<td>:</td>
								<td>{{car.select.warna}}</td>
							</tr>
							<tr>
								<td>Harga Mobil</td>
								<td>:</td>
								<td>Rp {{car.select.harga | number}},-</td>
							</tr>
						</table>
					</div>
					<div>
						<table width="100%" class="table">
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 1 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp {{sim.tahun1.total | number}}</td>
							</tr>
							<tr>
								<td>Angsuran</td>
								<td>:</td>
								<td>Rp {{sim.tahun1.prepayment.angsuran | number}}</td>
							</tr>
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 2 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp {{sim.tahun2.total | number}}</td>
							</tr>
							<tr>
								<td>Angsuran</td>
								<td>:</td>
								<td>Rp {{sim.tahun2.prepayment.angsuran | number}}</td>
							</tr>
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 3 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp {{sim.tahun3.total | number}}</td>
							</tr>
							<tr>
								<td>Angsuran</td>
								<td>:</td>
								<td>Rp {{sim.tahun3.prepayment.angsuran | number}}</td>
							</tr>
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 4 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp {{sim.tahun3.total | number}}</td>
							</tr>
							<tr>
								<td>Angsuran</td>
								<td>:</td>
								<td>Rp {{sim.tahun4.prepayment.angsuran | number}}</td>
							</tr>
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 5 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
							<tr>
								<td>Angsuran (1-3th)</td>
								<td style="vertical-align: middle;">:</td>
								<td style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
							<tr>
								<td>Angsuran (4-5th)</td>
								<td style="vertical-align: middle;">:</td>
								<td style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
							<tr>
								<td colspan="3" style="background-color: #f2f2f2;">
									<h4><b>Tenor 6 Tahun</b></h4>
								</td>
							</tr>
							<tr>
								<td width="35%">Jumlah Bayar Diawal</td>
								<td width="5%" style="vertical-align: middle;">:</td>
								<td width="60%" style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
							<tr>
								<td>Angsuran (1-4th)</td>
								<td style="vertical-align: middle;">:</td>
								<td style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
							<tr>
								<td>Angsuran (5-6th)</td>
								<td style="vertical-align: middle;">:</td>
								<td style="vertical-align: middle;">Rp xxxxxxxx</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div id="hasil-sim" ng-show="sim.result">
		<legend><b>Hasil Simulasi</b></legend>
		<div class="col-md-6">
			<table id="detail-calc1" width="100%">
				<tr>
					<td colspan="3" style="background-color: #f2f2f2;">
						<h4><b>Data Mobil</b></h4>
					</td>
				</tr>
				<tr>
					<td width="35%">Mobil</td>
					<td width="3%">:</td>
					<td>{{car.select.brand}} {{car.select.model}} {{car.select.warna}}</td>
				</tr>
				<tr>
					<td>Tahun</td>
					<td>:</td>
					<td>{{car.select.tahun}}</td>
				</tr>
				<tr>
					<td>Harga Mobil</td>
					<td>:</td>
					<td>{{car.select.harga | number}}</td>
				</tr>
				<tr>
					<td>DP ({{sim.result.mobil.dpPerc}} %)</td>
					<td>:</td>
					<td>Rp {{sim.result.mobil.dp | number}}</td>
				</tr>
				<tr>
					<td>Harga Mobil Setelah DP</td>
					<td>:</td>
					<td>Rp {{sim.result.mobil.harga - sim.result.mobil.dp | number}} </td>
				</tr>
				<tr>
					<td colspan="3" style="background-color: #f2f2f2;">
						<h4><b>Asuransi</b></h4>
					</td>
				</tr>
				<tr>
					<td>Asuransi</td>
					<td>:</td>
					<td>{{sim.result.asuransi.jenis}} ({{sim.result.asuransi.premi}} %) </td>
				</tr>
				<tr>
					<td>Masa Asuransi</td>
					<td>:</td>
					<td>{{sim.result.asuransi.masa}} Tahun</td>
				</tr>
				<tr>
					<td>Total Biaya Asuransi</td>
					<td>:</td>
					<td>Rp {{sim.result.asuransi.total | number}} </td>
				</tr>
				<tr>
					<td colspan="3" style="background-color: #f2f2f2;">
						<h4><b>Bunga & Angsuran</b></h4>
					</td>
				</tr>
				<tr>
					<td>Tenor</td>
					<td>:</td>
					<td>{{sim.result.bunga.tenor}} Tahun</td>
				</tr>
				<tr>
					<td>Bunga</td>
					<td>:</td>
					<td>{{sim.result.bunga.bunga}} %</td>
				</tr>
				<tr>
					<td>Total Biaya Bunga</td>
					<td>:</td>
					<td>Rp {{sim.result.bunga.total | number}}</td>
				</tr>
				<tr>
					<td>Angsuran</td>
					<td>:</td>
					<td>Rp {{sim.result.bunga.angsuran | number}} x {{sim.result.bunga.masaangsr}} Bulan</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<table id="detail-calc2" width="100%">
				<tr>
					<td colspan="3" style="background-color: #f2f2f2;"><h4><b>Yang Dibayar Didepan</b></h4></td>
				</tr>
				<tr>
					<td width="35%">Uang Muka / DP</td>
					<td width="3%">:</td>
					<td>Rp {{sim.result.prepayment.dp | number}} </td>
				</tr>
				<tr>
					<td>Angsuran I</td>
					<td>:</td>
					<td>Rp {{sim.result.prepayment.angsuran | number}}</td>
				</tr>
				<tr>
					<td>Fiducia</td>
					<td>:</td>
					<td>Rp {{sim.result.prepayment.fiducia | number}} </td>
				</tr>
				<tr>
					<td>Asuransi + Polis</td>
					<td>:</td>
					<td>Rp {{sim.result.prepayment.aspolis | number}}</td>
				</tr>
				<tr>
					<td>Credit Protection</td>
					<td>:</td>
					<td>Rp {{sim.result.prepayment.crdtpro | number}}</td>
				</tr>
				<tr style="border-top: 1px solid #f2f2f2;">
					<td><b>Total</b></td>
					<td>:</td>
					<td><b>Rp {{sim.result.total | number}} </b></td>
				</tr>
			</table>
		</div>
	</div> -->
	<div class="clearfix"></div>
</section>