<div class="lg-bg"></div>
<div id="lgn-wrapper" class="panel panel-default">
	<div id="lgn-logo" class="panel-heading" align="center">
		<img src="assets/img/adm.png" width="50">
	</div>
	<div class="panel-body">
		<form id="lgn-form" class="form-horizontal" method="POST">
			<div class="form-group">
				<div class="col-md-12" align="center">
					<div class="input-group">
						<span class="input-group-addon" style="background-color: transparent;">
							<i class="fa fa-user-o" style="color: #9effff;"></i>
						</span>
						<input type="text" placeholder="username" name="usr_nm" id="usr_nm" class="form-control" required="true">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<div class="input-group">
						<span class="input-group-addon" style="background-color: transparent;">
							<i class="fa fa-lock" style="color: #9effff; padding-right: 3px;"></i>
						</span>
						<input type="password" placeholder="password" name="usr_pass" id="usr_pass" class="form-control" required="true">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label"></label>
				<div align="center">
					<button class="btn btn-default" type="submit" id="lgn-btn">
						<b>LOGIN</b> <i class="fa fa-sign-in"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>