<div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default boxshadow custbg">
				<div class="panel-heading custbg-hd">
					Manajemen Akun
				</div>
				<div class="panel-body">
					<div class="pull-left" style="margin-bottom: 20px;">
						<a id="newakun" class="btn btn-info" ng-click="openModalAkun()"><i class="fa fa-plus"></i> Akun Baru</a>
					</div>

					<table class="table table-stripped" width="100%">
						<tr>
							<th width="85%">Username</th>
							<th width="15%">Action</th>
						</tr>
						<tr ng-repeat="user in userList">
							<td>{{user.name}}</td>
							<td>
								<a class="btn btn-danger" ng-click="deleteAkun(this)">
									<i class="fa fa-trash" title="Hapus"></i>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>