<section id="dashboard-sec" class="dashboard tab-pane fade in active">
	<div class="row">
		<div class="col-md-8">
			<div id="latest-car" class="boxshadow">
				<div class="panel panel-default custbg">
					<div class="panel-heading custbg-hd" align="center">
						DATA MOBIL YANG BARU DITAMBAHKAN
					</div>
					<div class="panel-body">
						<table id="top8LatestCar" class="table table-striped" width="100%" align="justify">
							<tr>
								<th width="60%"><i class="fa fa-car"></i> <b>Mobil</b></th>
								<th width="20%"><i class="fa fa-user"></i> <b>Oleh</b></th>
								<th width="20%"><i class="fa fa-calendar"></i> <b>Tanggal</b></th>
							</tr>
							<tr ng-repeat="car in car">
								<td>{{car.brand}} {{car.name}} {{car.warna}} Tahun {{car.tahun}} {{car.trans}}</td>
								<td>{{car.addby}}</td>
								<td> - </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-xs-6">
					<div id="sum-car" class="boxshadow">
						<div class="panel panel-default custbg">
							<div class="panel-body" align="center">
								<p>&Sigma; Total Mobil</p>
								<h3>{{carTotal.all}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="car-sr" align="center" class="boxshadow">
				<div class="panel panel-default custbg">
					<div class="panel-body">
						<p>Jumlah Mobil per-Showroom</p>
						<canvas id="carSrChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>