<div>
	<ng-map id="smap" on-click="get($event)" zoom="{{map.zoom}}" center="{{map.lat}}, {{map.lng}}">
		<marker position="{{newLoc.lat}}, {{newLoc.lng}}" icon="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|76ff03"></marker>
		<marker id="marker-{{$index}}" ng-repeat="m in locations" position="{{m.lat}}, {{m.lng}}" title="{{m.lks}}, {{m.desc}}" animation="DROP" on-click="showInfoWindow('det')">
		</marker>
	</ng-map>
	<div class="row">
		<div id="newmap" class="col-md-3">
			<div class="panel panel-default custbg boxshadow">
				<div class="panel-heading custbg-hd">Showroom Baru</div>
				<div class="panel-body">
					<form name="showroom" class="form-horizontal" ng-submit="addShowroom(showroom)">
						<div class="newmap-input">
							<input type="" ng-model="newLoc.nama" placeholder="Nama Showroom" class="form-control" required>
						</div>
						<div class="newmap-input">
							<textarea type="" ng-model="newLoc.alamat" class="form-control" placeholder="Alamat" required style="min-width:232px; max-width: 232px; min-height: 75px; max-height: 150px;"></textarea>
						</div>
						<div class="newmap-input">
							<input type="" ng-model="newLoc.telp" class="form-control" placeholder="Telepon" required>
						</div>
						<div class="newmap-input">
							<input type="" ng-model="newLoc.kota" class="form-control" placeholder="Kota" required>
						</div>
						<div class="newmap-input">
							<input type="" ng-model="newLoc.lat" class="form-control" readonly>
						</div>
						<div class="newmap-input">
							<input type="" ng-model="newLoc.lng" class="form-control" readonly>
						</div>
						<div class="newmap-input" align="right">
							<button type="submit" class="btn btn-success">SIMPAN</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="listmap" class="col-md-9">
			<div class="panel panel-default custbg boxshadow">
				<div class="panel-heading custbg-hd">Daftar Showroom</div>
				<div class="panel-body">
					<div ng-repeat="loc in locations">
						<div class="col-md-4">
							<div class="panel panel-default">	
								<div class="panel-heading" style="background-color: #fff;"><i class="fa fa-building-o"></i> {{loc.lks}}</div>
								<div class="panel-body">
									<div>
										<i class="fa fa-map-marker"></i>
										&emsp;{{loc.descr}}
									</div>
									<div>
										<i class="fa fa-phone"></i>
										&emsp;{{loc.tlp}}
									</div>
									<div>
										<i class="fa fa-map-o"></i>
										&nbsp; {{loc.kota}}
									</div>
									<br>
									<div align="center">
										<button id="editmap" class="btn btn-primary" title="Edit"><i class="fa fa-edit"></i></button> &nbsp;
										<button id="delmap" class="btn btn-danger" title="Delete"><i class="fa fa-trash" ng-click="delShowroom(loc)"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>