<div>
	<div class="panel panel-default custbg boxshadow">
		<div class="panel-heading custbg-hd">Bunga</div>
		<div class="panel-body">
			<div ui-grid="gridBunga" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize></div>
		</div>
	</div>
	<div class="panel panel-default custbg boxshadow">
		<div class="panel-heading custbg-hd">Fix and Cap</div>
		<div class="panel-body">	
			<div ui-grid="gridFixcap" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize></div>
		</div>
	</div>
</div>