<div>
	<div class="modal-header" style="background-color: #ff6666; color: #fff;">
		<button type="button" class="close" ng-click="cancel()">
			&times;
		</button>
		<h4 class="modal-title" align="center">Konfirmasi Hapus Data</h4>
	</div>
	<div class="modal-body">
		<p>Anda yakin akan menghapus data ini?</p>
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" class="close" ng-click="cancel()">Batal</a>
		<a id="hapusmobil-y" ng-click="delBrand(brand.id)" class="btn btn-danger">Ya</a>
	</div>
</div>