<div>
	<div>
		<div>
			<div>
				<div class="modal-header custbg-hd">
					<button type="button" class="close" ng-click="cancel()" style="color: #9effff;">
						&times;
					</button>
					<h4 class="modal-title">Form Mobil Baru</h4>
				</div>
				<div class="modal-body">
					<button ng-click="log(modalMobil.currentTab)">console.log</button>
					<ul class="nav nav-tabs">
						<li class="active">
							<a ng-click="tab('dt-mobil')" data-toggle="tab"><i class="fa fa-car"></i> Data Mobil</a>
						</li>
						<li>
							<a ng-click="tab('ft-preview')" data-toggle="tab"><i class="fa fa-camera"></i> Foto Preview</a>
						</li>
						<li>
							<a ng-click="tab('ft-exterior')" data-toggle="tab"><i class="fa fa-camera"></i> Exterior 360&deg;</a>
						</li>
						<li>
							<a ng-click="tab('ft-interior')" data-toggle="tab"><i class="fa fa-camera"></i> Interior 360&deg;</a>
						</li>
					</ul>
					<form id="newmobil-form" class="form-horizontal" enctype="multipart/form-data" method="POST">
						<div class="tab-content">
							<div ng-show="modalMobil.currentTab == 'dt-mobil'" id="dt-mobil" class="row tab-pane fade in active">
								<div class="col-md-12">
									<legend>Data Mobil</legend>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-xs-4" for="brand_id">Brand</label>
										<div class="col-xs-8">
											<select id="brand_id" class="form-control" required="true">
												<option value="" disabled="true" selected="selected" >---Pilih Brand---</option>
												<option value="1">BMW</option>
												<option value="2">Honda</option>
												<option value="3">Mercedes-Benz</option>
												<option value="1">BMW</option>
												<option value="2">Honda</option>
												<option value="3">Mercedes-Benz</option>
												<option value="1">BMW</option>
												<option value="2">Honda</option>
												<option value="3">Mercedes-Benz</option>
												<option value="1">BMW</option>
												<option value="2">Honda</option>
												<option value="3">Mercedes-Benz</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="c_nama">Mobil</label>
										<div class="col-xs-8">
											<input id="c_nama" type="text" name="c_nama" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="cars_model_id">Model</label>
										<div class="col-xs-8">
											<select id="cars_model_id" class="form-control" required="true">
												<option value="" disabled="true" selected="selected">---Pilih Model---</option>
												<option value="1">SUV</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="tahun">Tahun</label>
										<div class="col-xs-5">
											<input id="tahun" type="number" name="tahun" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="nopol">Nopol</label>
										<div class="col-xs-6">
											<input id="nopol" type="text" name="nopol" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="bbm">BBM</label>
										<div class="col-xs-7">
											<input id="bbm" type="text" name="bbm" class="form-control" required="true">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-xs-4" for="km">Kilometer</label>
										<div class="col-xs-6">
											<input id="km" type="number" name="km" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="trans_id">Transmisi</label>
										<div class="col-xs-8">
											<select id="trans_id" class="form-control" required="true">
												<option value="" disabled="true" selected="selected">---Transmisi---</option>
												<option value="1">Manual</option>
												<option value="2">Semi-Otomatis</option>
												<option value="3">Otomatis</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="silinder">Silinder</label>
										<div class="col-xs-4">
											<input id="silinder" type="text" name="silinder" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="warna">Warna</label>
										<div class="col-xs-8">
											<input id="warna" type="text" name="warna" class="form-control" required="true">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4" for="showroom_id">Showroom</label>
										<div class="col-xs-8">
											<select id="showroom_id" class="form-control" required="true">
												<option value="" disabled="true" selected="selected">---Showroom---</option>
												<option value="1">Dharmawangsa 69</option>
											</select>
										</div>	
									</div>
								</div>
							</div>

							<div ng-show="modalMobil.currentTab == 'ft-preview'" id="ft-preview" class="row tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										<legend>Foto Preview</legend>
										<div class="form-group">
											<label class="control-label col-xs-4" for="preview"><i class="fa fa-camera"></i> Preview</label>
											<div class="col-xs-6">
												<input id="preview" type="file" name="preview" multiple="true" class="form-control" accept="image/*">
											</div>
											<br><br>
											<div id="prev" class="preview-img"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="modalMobil.currentTab == 'ft-exterior'" id="ft-exterior" class="row tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										<legend>Exterior 360&deg;</legend>
										<div class="form-group">
											<label class="control-label col-xs-4" for="exterior"><i class="fa fa-camera"></i> Exterior 360&deg;</label>
											<div class="col-xs-6">
												<input id="exterior" type="file" name="exterior" multiple="true" class="form-control" accept="image/*">
											</div>
											<br><br>
											<div id="ext360" class="preview-img"></div>
										</div>
									</div>
								</div>
							</div>
							<div ng-show="modalMobil.currentTab == 'ft-interior'" id="ft-interior" class="row tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										<legend>Interior 360&deg;</legend>
										<div class="form-group">
											<label class="control-label col-xs-4" for="interiorr"><i class="fa fa-camera"></i> Interior 360&deg;</label>
											<div class="col-xs-6">
												<input id="interior" type="file" name="interior" class="form-control" accept="image/*">
											</div>
											<br><br>
											<div id="int360" class="preview-img"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<p align="justify">NB: Harap diisi semua data pada kolom yang tersedia dalam form ini</p>
							<div class="form-group">
								<a class="btn btn-warning" class="close" data-dismiss="modal">Batal</a>
								<a id="newmobil-sub" class="btn btn-success" href="#" type="submit">Simpan</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>