
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

* {
	text-decoration: none;
	font-family: Poppins;
  border-radius: 0 !important;
}

html, body {
	width: 100%;
	height: 100%;
 /* background-color: #010818; */
}

.clearfix {
  clear: both;
}

/*-----NAVBAR-----*/

#snav.side-nav {
  left: 0;
  text-align: left;
}

#snav.side-nav li span { left: -150px; }

#snav.side-nav li a:hover span { left: 50px; }

/* main SideNav.css styles */


#snav {
  position: fixed;
  top: 16%;
  z-index: 9999;
  font-size: 18px;
}

#snav ul { list-style: none; }

#snav * {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all 1s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#snav li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

#snav .fa {
  vertical-align: middle;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  z-index: 4;
}

#snav li span {
  font-size: 15px;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0 15px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 3;
}

#snav li a:hover .fa { transform: rotate(0deg); }

#snav li a:hover span { visibility: visible; }

/* colors styles */

/* menu items title background used for browsers not supporting :nth-child */

#snav li span { background-color: #555; }

/* icons color and background before hover  */

#snav li .fa {
  background-color: #010818;
  color: #9effff;
}

/* icons hover color */

#snav li a:hover .fa { 
	color: #FFF;
}

/* repeated colors from 1 to 10 each hover color repeated after 10 menu items */

#snav li:nth-child(10n+1) span,
#snav li:nth-child(10n+1) a:hover .fa { background-color: #D966FF; }

#snav li:nth-child(10n+2) span,
#snav li:nth-child(10n+2) a:hover .fa { background-color: #4EC5DB; }

#snav li:nth-child(10n+3) span,
#snav li:nth-child(10n+3) a:hover .fa { background-color: #3DC25D; }

#snav li:nth-child(10n+4) span,
#snav li:nth-child(10n+4) a:hover .fa { background-color: #99BE24; }

#snav li:nth-child(10n+5) span,
#snav li:nth-child(10n+5) a:hover .fa { background-color: #38c; }

#snav li:nth-child(10n+6) span,
#snav li:nth-child(10n+6) a:hover .fa { background-color: #ff0000; }

#snav li:nth-child(10n+7) span,
#snav li:nth-child(10n+7) a:hover .fa { background-color: #000; }

#snav li:nth-child(10n+8) span,
#snav li:nth-child(10n+8) a:hover .fa { background-color: #F1A111; }

#snav li:nth-child(10n+9) span,
#snav li:nth-child(10n+9) a:hover .fa { background-color: #777; }

#snav li:nth-child(10n+10) span,
#snav li:nth-child(10n+10) a:hover .fa { background-color: #30555C; }

/*-----LOGIN-----*/

.lg-bg {
	background-color: #010818;
	min-height: 100%;
	width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

#lgn-logo {
	padding: 5px;
	background-color: rgba(184, 237, 255, 0.05);
	border: none;
}

#lgn-wrapper {
	width: 300px;          
  height: 250px;       
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -100px;  
  margin-left: -150px;
  background: rgba(184, 237, 255, 0.05);
  border:solid 3px rgba(127, 222, 254, 0.05); 
}

#usr_nm, #usr_pass, .input-group-addon {
	border:solid 1px #9effff;
}

#lgn-btn {
	background-color: rgba(184, 237, 255, 0.1);
	color: #9effff;
	border: 1px solid #9effff;
	width: 100px;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

#lgn-btn:hover {
	background-color: #9effff;
	color: #010818;
}

/*-----ADMIN CONTENT-----*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	opacity: 1;
	background: rgba(0,0,0,0.5);
  display: none;
}

.top-logo {
  display: block;
  width: 100%;
}
.top-logo img {
	font-size: 1em;
  padding-bottom: 10px;
}

.lgn-as {
  margin-bottom: 10px;
  display: block;
}

.dashboard, .akun, .mobil, .showroom, .simkredit, .promo, .profile {
  width: 100%;
  display: block;
}

.action-btn {
  margin: 2px;
  text-align: center;
}

.action-btn > img {
  border: 1px solid #a6a6a6;
}

.action-btn > img:hover {
  background-color: #a6a6a6;
}

/*-----DASHBOARD SECTION-----*/

.custbg {
  border: none;
}

.custbg-hd {
  background-color: #010818 !important;
  color: #9effff !important;
}

.boxshadow {
  display: block;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(209,209,209,1);
  box-shadow: 0px 0px 5px 1px rgba(209,209,209,1)
}

#carSrChart {
  width: 100%;
}

/*-----AKUN SECTION-----*/

#btn-akun, #btn-cred {
  margin-bottom: 10px;
}

.akun-wrap {
  width: 100%;
}

/*-----MOBIL SECTION-----*/

#btn-mobil {
  margin-bottom: 10px;
}

.preview-img {
  overflow-y: scroll;
  max-height: 200px;
  width: 100%;
}

.thumbimage {
  width:145px;
  position:relative;
  padding:10px;
}

.thumbimage-int {
  width: 100%;
}

.inline-add-btn {
  margin-bottom: 15px;
}

/*-----PROMO SECTION------*/
#btn-promo {
  margin-bottom: 15px;
}